@font-face {
    font-family: 'rimwordfontregular';
    src: url('font/rimwordfont-webfont.woff2') format('woff2'),
         url('font/rimwordfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
::-webkit-scrollbar{
    display:none;
}

.navbar{
    background-color: black;
    display:block;
    height:40px;
    padding-bottom: 5px;
}

.navbar a{
    color:white;
    font-family: 'rimwordfontregular';
    height: 60px;
    font-size:1.5em;
    padding-left: 25px;
    padding-right:25px;
    text-decoration: none;
}
.navbar a:hover{
    color: skyblue;
    font-weight: bolder;
}

.navbar span{
    padding-right:5vh;
}

#navbar{
    transition: 0.2s ease;
    transition: top 0.5s ease;
    top: -100px;
    display: block;
}

#navbar > #fullLogo{
    height:0px;
}
#navbar > #smalllogo{
    height:40px;
}
#navbar.sticky{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    transition: 1s ease;
    transition: top 0.5s ease-in;
    height: 35px;

}

.navbar.sticky {
    font-size: 10px;
}

#navbar.sticky > #fullLogo{
    height: 35px;
}
#navbar.sticky > #smalllogo{
    height: 0px;
}
#storePage{
    border: solid 1px;
    border-radius: 6px 6px 6px 6px;
    border-color: white;
    height: 50vh;
    width: 50vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/AIdirectors.jpg);
    transition: 0.2s linear;
}
#storePage:hover{
    border-radius: 0px 0px 0px 0px;
    border-color:red;
    height: 51vh;
    width: 51vw;
    transition: 0.2s linear;
}

.title{
    background-color:black;
    padding: 10px;
}

h1{
    font-family: rimwordfontregular;
    font-size: 80px;
    text-align: center;
    color: white;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.bodyParagraphP{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}
.bodyParagraphP > p{
    padding-right:50%;
    border: 1px;
    border-radius: 8px;
    display:inline; padding: 10px 50px; font-size: 25px; color:white; 
    text-align: center; background-color:black; width: 100%;
}
#detailedInfo{
    border: 1px;
    border-radius: 0px;
    margin: 0px;
}
#date{
    border-right: solid 3px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-right-color: white;
    border-radius: 0px;
    text-align: center;
    margin: 0;
    width:fit-content;
}
.wipeAnimation{
    animation: wipe 0.5s forwards ease;
    animation-delay: 0.8s;
}

@keyframes wipe{
    0%{padding-right: 0%;}
    100%{padding-right: 50%; padding-left: 20px;}
}