body{
    margin: 0;
}

.navbar{
    background-color: black;
}

.navbar a{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
    font-size:5em;
    padding-left: 50px;
    padding-right:50px;
}

.navbar span{
    padding-right:5vh;
}

#navbar{
    transition: 0.2s ease;
}
#navbar.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 15px;
    transition: 0.2s ease;
}